<div class="panel-heading">Data Plot</div>
<div class="panel-body eb-device__panel-body">
    <div class="eb-device__loading-panel js-loading-panel">
        <div class="eb-device__loading-panel__fill"></div>
        <div class="eb-device__loading-panel__text">
            <div class="fa fa-cog fa-spin fa-2x"></div>
        </div>
    </div>
    <div class="js-data-panel">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Note:</strong> Real time data is available via SeedLink protocol
            <a href="#" class="alert-link">here</a>
        </div>
        <h4><small>The data is updated manually <button type="button" class="btn btn-primary btn-xs js-refresh-button">Refresh</button></small></h4>
        <div class="js-data-plot" style="height: 350px"></div>
    </div>
    <!--<div class="eb-device__loading-panel js-loading-panel">
        <div class="eb-device__loading-panel__fill"></div>
        <div class="eb-device__loading-panel__text">
            <div class="fa fa-cog fa-spin fa-2x"></div>
        </div>
    </div>
    <h4><small>The service log is updated in real time <span class="fa fa-circle-o-notch fa-spin js-data-update-spinner eb-device__data-update-spinner"></span></small></h4>
    <div class="js-log-list-region"></div>-->
    <!--
    <table class="table js-data-table">
        <caption>The values here are updated in real time <span class="fa fa-circle-o-notch fa-spin js-data-update-spinner eb-device__data-update-spinner"></span></caption>
        <thead>
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Device Status Updated</td>
            <td><span class="js-status-updated"></span> <button type="button" class="btn btn-primary btn-xs js-force-update-button">Force device update</button></td>
        </tr>
        </tbody>
    </table>-->
</div>