<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Device Management Console</title>
    <meta name="description" content="Device Management Console Application">
    <script>
        window.langCode = 'en';
        window.compiled = {{compiled}};
    </script>

    {{#if compiled}}
        <link rel='stylesheet' href='/styles/bootstrap.min.css' />
        <!--<link rel='stylesheet' href='/styles/bootstrap-theme.min.css' />-->
        <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/components/metisMenu/dist/metisMenu.min.css">
        <link rel="stylesheet" href="/components/bootstrap-select/dist/css/bootstrap-select.min.css">
        <link rel='stylesheet' href='/styles/generated.min.css' />
        <script type="text/javascript" src="/js/lib/require/require.js" data-main="js/compiled/Init.js"></script>
    {{else}}
        <link rel='stylesheet' href='/styles/bootstrap.css' />
        <!--<link rel='stylesheet' href='/styles/bootstrap-theme.css' />-->
        <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/components/metisMenu/dist/metisMenu.css">
        <link rel="stylesheet" href="/components/bootstrap-select/dist/css/bootstrap-select.css">
        <link rel='stylesheet' href='/styles/generated.css' />
        <script type="text/javascript" src="/js/lib/require/require.js" data-main="js/Init.js"></script>
    {{/if}}
</head>
<body>
    <div class="js-application-navbar-region"></div>
    <div class="js-application-sidebar-region app-sidebar sidebar"></div>
    <div class="js-application-content-region app-content"></div>
    <div class="js-application-popup-region"></div>
    <div class="js-application-login-region"></div>
    <div class="js-application-fading-region"></div>
    <div class="js-application-loading-region"></div>
    <div class="js-startup-loading app-startup-loading-panel">
        <div class="app-startup-loading-panel__fill"></div>
        <div class="app-startup-loading-panel__text">
            <div class="fa fa-cog fa-spin fa-2x"></div>
        </div>
    </div>
    <!-- !!! -->
    <div class="modal fade js-fatal-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Fatal error</h4>
                </div>
                <div class="modal-body">
                    Something bad happened. Please reload the page.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Reload</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>