@import "sb-admin-2";

$sideBarLength: 250px;

body {
  background-color: #fff;
}

.navbar-default {
  box-shadow: none;
}

.dev-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: $sideBarLength;
  background-color: #f8f8f8;
  border: 0 solid #e7e7e7;
  border-right-width: 1px;
}

.dev-content {
  position: absolute;
  left: $sideBarLength;
  top: 51px;
  right: 0;
  bottom: 0;
}

.eb-device__update-range-container {
  margin-top: 10px;
}

.eb-device__update-range-btn {
  margin-top: 10px;
}

.eb-device__panel-body {
  position: relative;
}

.eb-device__loading-panel {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1;
  text-align: center;
}

.eb-device__loading-panel__fill {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.eb-device__loading-panel__text {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 250px 0 0 -30px;
}