<div class="panel-heading">MagState Control Panel</div>
<div class="panel-body eb-device__panel-body">
    <div class="eb-device__loading-panel js-loading-panel">
        <div class="eb-device__loading-panel__fill"></div>
        <div class="eb-device__loading-panel__text">
            <div class="fa fa-cog fa-spin fa-2x"></div>
        </div>
    </div>
    <table class="table js-data-table">
        <caption>The values here are updated in real time <span class="fa fa-circle-o-notch fa-spin js-data-update-spinner eb-device__data-update-spinner"></span></caption>
        <thead>
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Device Status Updated</td>
            <td><span class="js-status-updated"></span> <button type="button" class="btn btn-primary btn-xs js-force-update-button">Force device update</button></td>
        </tr>
        <tr>
            <td>Commands in queue</td>
            <td><span class="js-status-command-queue"></span></td>
        </tr>
        <tr>
            <td>Registration Status</td>
            <td>
                <div class="js-cond-stopped">Running <button type="button" class="btn btn-danger btn-xs js-stop-logging-button">Stop</button></div>
                <div class="js-cond-running">
                    Stopped
                    <div class="form-group eb-device__start-logging-container">
                        <label for="samplingIntervalSelect" class="form-label">Sampling interval</label>
                        <select id="samplingIntervalSelect" class="form-control js-status-sampling-interval-input">
                            {{#each samplingIntervalOptions}}
                                <optgroup label="{{groupName}}">
                                    {{#each options}}
                                        <option value="{{value}}">{{name}}</option>
                                    {{/each}}
                                </optgroup>
                            {{/each}}
                        </select>
                        <button type="button" class="btn btn-success btn-sm eb-device__start-logging-btn js-start-logging-button">Start</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="js-cond-sampling-interval-row">
            <td>Sampling Interval (ms)</td>
            <td class="js-status-sampling-interval"></td>
        </tr>
        <tr>
            <td>Diagnostics</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs js-run-diagnostics-button">General</button>
                <button type="button" class="btn btn-primary btn-xs js-run-auto-test-button">Sampling test</button>
            </td>
        </tr>
        <tr>
            <td>MiniSEED settings</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs js-edit-mseed-settings-button">Edit</button>
                <div class="js-mseed-settings-panel">
                    <label for="mseedSettingsFileName" class="form-label">File Name</label>
                    <input id="mseedSettingsFileName" type="text" class="form-control js-mseed-settings-fileName-input" placeholder="data.mseed">
                    <label for="mseedSettingsNetwork" class="form-label">Network</label>
                    <input id="mseedSettingsNetwork" type="text" class="form-control js-mseed-settings-network-input" placeholder="RU">
                    <label for="mseedSettingsStation" class="form-label">Station</label>
                    <input id="mseedSettingsStation" type="text" class="form-control js-mseed-settings-station-input" placeholder="IFZ">
                    <label for="mseedSettingsLocation" class="form-label">location</label>
                    <input id="mseedSettingsLocation" type="text" class="form-control js-mseed-settings-location-input" placeholder="SK">
                    <label for="mseedSettingsSamplesInRecord" class="form-label">Samples in MiniSEED record</label>
                    <input id="mseedSettingsSamplesInRecord" type="number" class="form-control js-mseed-settings-samplesInRecord-input" placeholder="2">
                    <div class="eb-device__mseed-settings-buttons">
                        <button type="button" class="btn btn-primary btn-sm js-apply-mseed-settings-button">Apply</button>
                        <button type="button" class="btn btn-link btn-sm js-cancel-mseed-settings-button">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Stand By</td>
            <td><span class="js-status-stand-by"></span> <button type="button" class="btn btn-primary btn-xs js-status-stand-by-button"></button></td>
        </tr>
        <tr>
            <td>Device Time</td>
            <td>
                <span class="js-status-device-time"></span> <button type="button" class="btn btn-primary btn-xs js-fix-device-time-button">Fix</button>
            </td>
        </tr>
        <tr>
            <td>Range (pT)</td>
            <td>
                [ <span class="js-status-range-min"></span>, <span class="js-status-range-max"></span> ]
                <div class="form-group eb-device__update-range-container">
                    <input id="newCenterRange" type="number" min="1" max="10000000" class="form-control js-status-center-range-input" placeholder="Center range (pT)">
                    <button type="button" class="btn btn-primary btn-sm eb-device__update-range-btn js-set-range-button">Apply</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>ENQ</td>
            <td class="js-status-enq"></td>
        </tr>
        <tr>
            <td>About</td>
            <td class="js-status-about"></td>
        </tr>
        </tbody>
    </table>
</div>