{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }]
  }
}
